@media (min-width:760px){


@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

.mo_wrap{
    display: none;
}


body{
    font-family: 'Noto Sans KR', sans-serif;
}

.wrap{
    max-width: 1920px;
    margin: 0 auto;
}

header, section, footer{
    width: 100%;
    float: left;
    position: relative;
}

.in_header, .in_footer{
    height: 100%;
    width: 1600px;
    margin: 0 auto;
}

.container{
    height: 100%;
    width: 1400px;
    margin: 0 auto;
}

.title_box>p{
    color: #eccd41;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 40px;
}

.title_box>h2{
    font-size: 43px;
    font-weight: 300;
    color: #000;
    line-height: 55px;
}

}
/*@media (min-width:760px) end  */